main.v-content {
  padding: 2px 0 0 250px !important;
  background-color: #f4f4f4;
}
.main_card{
  background: #FFFFFF;
  margin: 0 auto;
  min-height: 120vh;
  //max-width: calc(98%);
  max-width: 99%;
  //min-width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}
